<app-header></app-header>

<div class="row">
  <div class="col">
   
  </div>
  <div class="col-8" style="padding-top: 20px;">
    <form class="form-group"  [formGroup]="myForm">
      <label for="exampleInputPassword1">Filter for Refcode</label>
      <input type="text" [(ngModel)]="usename" class="form-control" formControlName="username" id="exampleInputPassword1" placeholder="Enter Username">
    </form>
    
   
    <table class="table table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col" style="color: aquamarine">Issue id</th>
          <th scope="col" style="color: aquamarine">username</th>
          <th scope="col" style="color: aquamarine">Date</th>
          <th scope="col" style="color: aquamarine">Amount</th>
          <th scope="col" style="color: aquamarine">Applicable rate</th>
          <th scope="col" style="color: aquamarine">Duration</th>
          <th scope="col" style="color: aquamarine">Reference Code</th>
        </tr>
      </thead >
      <tbody *ngFor="let item of loans">
        <tr>
          <td>{{item.id}}</td>
          <td>{{item.username}}</td>
          <td>{{item.data}}</td>
          <td>{{item.amount}}</td>
          <td>{{item.rate}}</td>
          <td>{{item.manager}}</td>
          <td>{{item.refcode}}</td>
        </tr>
        
      </tbody>
    </table>
  </div>
  <div class="col">
   
  </div>
</div>