<div class="row ">
  <div class="container">
    <div class="row">
      <div class="col-sm">

      </div>
      <div class="col-md">
        <form class="text-center border border-light p-5">

          <p class="h4 mb-4">Register</p>

          <input input type="text" name="username" [(ngModel)]="username" class="form-control mb-4"
            placeholder="Enter Username">


          <input input type="password" name="password" [(ngModel)]="password" class="form-control mb-4"
            placeholder="Enter Password">

          <input input type="email" name="email" [(ngModel)]="email" class="form-control mb-4"
            placeholder="Enter Email">


          <button mdbBtn color="info" block="true" (click)=register() class="btn btn-primary"
            type="submit">Register</button>


          <p>member?
            <button (click)="routetologin()" class="btn btn-link">Sign In</button>
          </p>




        </form>
      </div>
      <div class="col-sm">

      </div>
    </div>
  </div>
</div>



<router-outlet></router-outlet>