<header>
  <nav class ="navbar navbar-expand-md navbar-dark bg-dark">
  <div><a class="navbar-brand">LoanRequest App</a></div>
  
  <ul class="navbar-nav">
    <li><a *ngIf="loginService.isUserLoggedIn()" routerLink="/" class="nav-link">View Current Loans</a></li>
    <li><a *ngIf="loginService.isUserLoggedIn()" routerLink="/addemployee" class="nav-link">Request New Loan</a></li>
    <li><a *ngIf="!loginService.isUserLoggedIn()" routerLink="login" class="nav-link">Login</a></li>
    <li><a *ngIf="loginService.isUserLoggedIn()" style="margin-right: 10%" routerLink="/logout" class="nav-link">LogOut</a></li>
  
  
  </ul>
  
  </nav>
  
  </header>